body{
    background-color: bisque;
}
h1{
    text-align: center;
}
.text img{

max-width:100% ;
}
.text_sk{
    color: rgb(48, 85, 11);
    background-color: rgb(246, 103, 103);
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.text_sk:hover{
    color: rgb(93, 14, 14);
    background-color: rgb(174, 243, 106);
    width: 500px;
    height: 400px;
    overflow: scroll;
    transition: 2s;
}
.fa-spinner{
    color: royalblue;
    font-size: 50px;
}